# Kopiere diese Datei nach config/ntfy.env (nicht committen!)
# cp config/ntfy.env.example config/ntfy.env

export NTFY_TOPIC="NTFY_TOPIC"
export NTFY_TITLE="Umfrage-Reminder {k}/{per_day}"
export NTFY_MESSAGE="Bitte nimm kurz an der Umfrage teil: {url}"


# NEU: Basis-URL/Template für den Fragebogen-Link (SoSci mit r=REF)
export SURVEY_URL_TEMPLATE="https://www.soscisurvey.de/dbd25-template//?r={id}"

# optional: eigener Server (sonst Default https://ntfy.sh via CLI/Config)
# export NTFY_SERVER="https://ntfy.sh"
