# Kopiere diese Datei nach config/ntfy.env (nicht committen!)
# cp config/ntfy.env.example config/ntfy.env

export NTFY_TOPIC="NTFY_TOPIC"
export NTFY_TITLE="NTFY_TITLE"
export NTFY_MESSAGE="NTFY_MESSAGE"

# optional: eigener Server (sonst Default https://ntfy.sh via CLI/Config)
# export NTFY_SERVER="https://ntfy.sh"
